<!DOCTYPE html>
<html lang="en">

<head>
  <style>button {
    padding: 15px 30px;
    border: none;
    outline: none;
    border-radius: 30px;
    font-size: 1.5rem;
    z-index: 1;
    position: relative;
    -webkit-box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
    box-shadow: 0 5px 15px rgba(33, 33, 33, .2);
    overflow: hidden;
    cursor: pointer;
  }
  
  button > span {
    z-index: 2;
  }
  
  button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #212121;
    z-index: -1;
    overflow: hidden;
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
    -webkit-transition: -webkit-transform 0.2s ease-in;
    transition: -webkit-transform 0.2s ease-in;
    transition: transform 0.2s ease-in;
  }
  
  button:hover {
    color: #e8e8e8;
  }
  
  button:hover::before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left;
    -ms-transform-origin: left;
    transform-origin: left;
  }
  .input {
 border: 2px solid #e8e8e8;
 padding: 15px;
 border-radius: 10px;
 background-color: #212121;
 font-size: small;
 font-weight: bold;
 text-align: center;
}

.input:focus {
 outline-color: white;
 background-color: #ebe5e5;
 color: #131212;
 box-shadow: 5px 5px #888888;
}
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #030303;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: rgb(6, 6, 6);
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: rgb(11, 11, 11);
  transform: translateY(-30px);
}
.center-placeholder::placeholder {
  text-align: center;
} 

.scanner span {
  color: transparent;
  font-size: 2rem;
  position: relative;
  overflow: hidden;
  white-space: nowrap; /* Prevent text from wrapping */
}

.scanner span::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  border-right: 0.5px solid #090909; /* Adjust border color as desired */
  overflow: hidden;
  color: #090909;
  animation: load91371 4s linear infinite;
}
@keyframes load91371 {
  0% {
    width: 0;
  }

  25% {
    border-right-color: transparent;
  }

  26%, 96% {
    border-right-color: #ffffff;
    width: 100%;
  }

  100% {
    width: 100%;
    border-right-color: #ffffff;
    animation-fill-mode: both; /* Stay in the final state after animation */
    animation-delay: 4s; /* Delay the animation by 4 seconds */
    animation-iteration-count: 1; /* Run the animation only once */
  }
}

.loader {
  font-size: 30px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #060606;
  letter-spacing: 2px;
  position: relative;
  box-sizing: border-box;
}

.loader::after {
  content: 'Sign up';
  position: absolute;
  left: 0;
  top: 0;
  color: #FFF;
  text-shadow: 0 0 2px #263238, 0 0 1px #263238, 0 0 1px #263238;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  animation: animloader 6s linear infinite;
}

@keyframes animloader {
  0% {
    height: 100%;
  }

  100% {
    height: 0%;
  }
}

.text-dark-blue {
  color: #0f0f10;
}

  </style>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <!-- Fonts and icons -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
  <title>
    Login </title>  
</head>

<body class="">
 
  <div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3 navbar-transparent mt-4">
          <div class="container">
            
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 active fs-5 text-dark" aria-current="page" href="/">
                    <i class="fa fa-chart-pie opacity-6 text-dark me-1"></i>
                    Home
                  </a>
                  
                </li>
                <!-- Add other navigation items here -->
              </ul>
            </div>
            
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
  <main class="main-content  mt-0">
    <section>
      <div class="page-header min-vh-100">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-lg-0 mx-auto">
              <div class="card card-plain">
                <div class="card-header pb-0 text-start">
                 
                  <p class="mb-0 animated-text"></p>
                  <div class="scanner">
                    <span id="animated-text">Enter your email and password ! </span>
                  </div>
                  

                                  </div>
                <div class="card-body">
                  <form>
                    <div class="error" style="background-color: red;"></div><br>



                    <div class="form-control">
    <input type="value" id="username" class="center-placeholder" placeholder="Enter your username!"  required="">
    <label for="username">
        <span style="transition-delay:0ms">U</span><span style="transition-delay:50ms">s</span><span style="transition-delay:100ms">e</span><span style="transition-delay:150ms">r</span><span style="transition-delay:200ms">n</span><span style="transition-delay:250ms">a</span><span style="transition-delay:300ms">m</span><span style="transition-delay:350ms">e</span>
    </label>
</div>
<div class="form-control">
  <input type="value" id="email" class="center-placeholder" placeholder="Enter your email!" required="">
  <label for="email" >
      <span style="transition-delay:0ms">E</span><span style="transition-delay:50ms">m</span><span style="transition-delay:100ms">a</span><span style="transition-delay:150ms">i</span><span style="transition-delay:200ms">l</span>
  </label>
</div>
                    
                    
                    
                    
                    <label for="password"></label>
                    <input type="password" name="text"name="text" id="password" class="input" placeholder="Enter your password!" required><br><br>
                    
                    
                    <button type="submit"> <span>Login</span><br></button>
                  </form>
                  <a href="/login"></a>

                  <script>
                    // Get the animated text element
const animatedText = document.getElementById('animated-text');

// Set the data-text attribute to the text content
animatedText.setAttribute('data-text', animatedText.textContent);

                 const form = document.querySelector('form')
                    const username = document.querySelector('#username')
                    const email = document.querySelector('#email')
                    const password = document.querySelector('#password')
                    const display = document.querySelector('.error')
                
                   form.addEventListener('submit', async (e) => {
                      e.preventDefault()
                      display.textContent = ''
                      try {
                        const res = await fetch('/api/auth/login', {
                          method: 'POST',
                          body: JSON.stringify({username: username.value, email: email.value, password: password.value }),
                          headers: { 'Content-Type': 'application/json' }
                        })
                        const data = await res.json()
                        if (res.status === 400 || res.status === 401) {
                          return display.textContent = `${data.message}. ${data.error ? data.error : ''}`
                        }
                        if (data.role === 'admin') {
        location.assign('/admin');
      } else if (data.role === 'freelancer') {
        location.assign('/freelancer-home');
      } else {
        location.assign('/suggestion');
      }
    } catch (err) {
      console.log(err.message);
    }
                
                    })

                    
                  </script>
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                  <p class="mb-4 text-sm mx-auto">
                    Don't have an account?
                    <a href="/register" ><span class="loader">Sign up</span></a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-6 d-lg-flex d-none h-100 my-auto pe-0 position-absolute top-0 end-0 text-center justify-content-center flex-column">
              <div class="position-relative h-100 m-3 px-7 py-11  border-radius-lg d-flex flex-column justify-content-start overflow-hidden" style="background-image: url('https://raw.githubusercontent.com/creativetimofficial/public-assets/master/argon-dashboard-pro/assets/img/signup-cover.jpg'); background-position: top;">
                <h2 class="mt-0 text-white font-weight-bolder">"Create your free web project."</h2>
                <p class="text-white">Bring your business online.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <!-- Core JS Files -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>
