<!DOCTYPE html>
<html lang="en">

<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

  <style>
     .button-space {
    margin: 0 10px; /* Adjust the margin value to create the desired space */
  }
     .button-container {
    display: flex;
    justify-content: center;
  }
    
    .custom-form-width {
      max-width: 100%; /* Adjust the value as per your requirement */
      margin: 0 auto;
    }
    
    /* Additional styles to override existing CSS */
    .card-body {
      padding: 80px; /* Increase the padding to give more space around the form */
    }
    
    /* Optional: Adjust the label width for better alignment */
    .card-body label {
      display: inline-block;
      width: 300px;
      margin-bottom: 20px;
    }
    .project-name-input {
    font-size: 17px; /* Adjust the font size as desired */
  }

  .project-tech-input {
    font-size: 20px; /* Adjust the font size as desired */
  }
  body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    .content-container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #f7f7f7;
      border: 1px solid #ddd;
      border-radius: 5px;
    }

    h2 {
      font-size: 24px;
      font-weight: bold;
      margin: 0 0 10px;
    }

    h6 {
      font-size: 14px;
      color: #888;
      margin: 0 0 20px;
    }

   

    .input-group label {
      margin-bottom: 5px;
    }

    .ux-text-entry-field {
      flex: 1;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      margin-right: 10px;
    }

    .ux-button {
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }

    .menu {
    position: relative;
    display: inline-block;
    
    
    max-width: 550px; /* Adjust the max-width value as desired */
  }
    .menu-list {
      list-style: none;
      padding: 0;
      margin: 0;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: calc(100% + 10px);
      left: 0;
      z-index: 1;
      width: 100%;
      max-height: 200px;
      overflow-y: auto;
      border-radius: 5px;
      display: none;
    }
    .bigger-label {
    font-size: 20px; /* Adjust the font size as desired */
  } 
  .label-container {
    margin-bottom: 25px; /* Adjust the margin value to create the desired space */
  }

    .menu-item {
      font-size: 16px;
      padding: 10px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .menu-item:hover {
      background-color: #f2f2f2;
    }

    .menu.open .menu-list {
      display: block;
    }
  </style>
 
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
The Hive Hub  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
</head>

<body class="d-flex justify-content-center">
  <!-- Navbar -->

  <!-- End Navbar -->  
  <!-- techProjectForm.ejs -->
  <form id="categoryForm" action="/project-type" method="POST">
    <div class="menu" style="margin-top: 80px;">
      <div class="label-container">
        <label for="category" class="bigger-label">What kind of website do you want?</label>
      </div>
      <div class="label-container">
        <label for="category" class="bigger-label">We use this information to provide photo and content recommendations.</label>
      </div>
      <div class="input-group">
        <span class="input-group-text text-body"><i class="fas fa-search" aria-hidden="true"></i></span>
        <input type="text" name="category" id="category" class="form-control" placeholder="Search for your perfect category..." value="<%= category %>" autocomplete="off">
      </div>
      <ul class="menu-list">
        <li class="menu-item" data-value="Business Website">Business Website</li>
        <li class="menu-item" data-value="Ecommerce Website">Ecommerce Website</li>
        <li class="menu-item" data-value="Entertainment Website">Entertainment Website</li>
        <li class="menu-item" data-value="News Website">News Website</li>
        <li class="menu-item" data-value="Nonprofit/Organization Website">Nonprofit/Organization Website</li>
        <li class="menu-item" data-value="Membership Website">Membership Website</li>
        <li class="menu-item" data-value="Portfolio">Portfolio</li>
        <li class="menu-item" data-value="Personal Website">Personal Website</li>
      </ul>
    </div>
    <div style="margin-top: 300px;">
      <input type="hidden" name="category" value="<%= category %>">
  
      <button id="cancelButtonTech" type="button" class="btn btn-white-text mx-2 float-right">Go Back</button>
      <button href="'/project-type" type="submit" class="btn btn-white-text mx-2 float-right">NEXT</button>
    </div>
  </form>
  
  <script>
      const category = '<%= category %>'; // Retrieve the category value from the server-side rendering


    document.getElementById("cancelButtonTech").addEventListener("click", function() {
      window.history.back(); // Go back to the previous page
    });
  
    const menu = document.querySelector('.menu');
    const menuList = document.querySelector('.menu-list');
    const menuItems = document.querySelectorAll('.menu-item');
    const verticalPicker = document.getElementById('category');
  
    // Toggle menu open/closed
    menu.addEventListener('click', function () {
      menu.classList.toggle('open');
    });
  
    // Set value and close menu when a menu item is clicked
    menuItems.forEach(function (item) {
      item.addEventListener('click', function () {
        const value = this.getAttribute('data-value');
        verticalPicker.value = value;
        menu.classList.remove('open');
      });
    });
  
    // Close menu when clicking outside or on a category
    window.addEventListener('click', function (event) {
      const target = event.target;
      if (!menu.contains(target) && !target.matches('.ux-text-entry-field')) {
        menu.classList.remove('open');
      } else if (target.matches('.menu-item')) {
        menu.classList.remove('open');
      }
    });
  
    // Bind event listener to the "Go Back" button's click event
    const cancelButtonTech = document.getElementById('cancelButtonTech');
    cancelButtonTech.addEventListener('click', goBack);
  
    function goBack() {
      history.back(); // Go back to the previous page
    }
  </script>
  
         
  </main>
  <!-- -------- START FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
 
  <!-- -------- END FOOTER 3 w/ COMPANY DESCRIPTION WITH LINKS & SOCIAL ICONS & COPYRIGHT ------- -->
  <!--   Core JS Files   -->
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="../assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>