<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
The Hive Hub  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="../assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="../assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome Page</title>
  <style>
    .transparent-card {
  background-color: transparent;
}

    .body {
      margin: 0;
      padding: 0;
    }
    
    .video-background {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      z-index: -1;
    }
    
    .video-background video {
      min-width: 30%; /* Adjust the size as per your preference */
      min-height: 30%; /* Adjust the size as per your preference */
    }
    
    .content {
      position: relative;
      z-index: 1;
      padding: 20px;
      text-align: center;
    }
  </style>
</head>
<body>
  <div class="video-background">
    <video autoplay loop muted>
      <source src="../assets/wlc_background.mp4" type="video/mp4">
    </video>
  </div>
            
            <a href="javascript:;" class="btn  btn-white-text d-flex justify-content-center align-items-center" style="height:200px;width:200px">Choose a professionally designed website template</a>
            <a href="/project-theme" class="btn  btn-white-text d-flex justify-content-center align-items-center" style="height:200px;width:200px">Fill in a form with detailed site information</a>

          
          
        
          
        
        
</body>
</html>
